<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HotelManagement_ADO.Properties.Settings.HotelManagementSystemConnectionString"
            connectionString="Data Source=DESKTOP-P5RFVBG;Initial Catalog=HotelManagementSystem;Integrated Security=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
        <add name="HotelManagement_ADO.Properties.Settings.HotelManagementSystemConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=HotelManagementSystem;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>